html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#video {
  width:100%;
  height:100%;
  background-color: #111;
}

#photo {
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  position: absolute;
  display: none;
}

#canvas {
  display:none;
}

.camera {
  width: 100%;
  height: 100%
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:60px;
  background-color: #3B88FA;
  border: 5px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

#message {
  color: #EEE;
  line-height: 75px;
  text-align: center;
  height: 75px;
  position: absolute;
  padding: 20px;
  vertical-align: middle;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  background: rgba(62,130,247,0.90);
  display: none;
  z-index: 5;
}