<!DOCTYPE html>
<html>
<head>
    <title>Twitter card generator</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
</head>
<body>
  <div id="message">Your card is on its way!</div>
  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton"></button>
  </div>
  <canvas id="canvas"></canvas>
  <img id="photo">
  <script>
    onload();
  </script>
</body>
</html>
